.imgMegaHair {
    width: 450px;
  
  }
  
  .img3 {
 
  }

  .conteudoServicos{

  }

  .itemServico{
    display: flex;
    margin-top: 30px;
  }

  .servicosEscova{
 

  }

  .img4{


  }
  .imgEscova{
    width: 470px;
    height: 330px;
  }

  .textosServicos{
  
  padding-right: 60px;
  padding-left: 40px;
  }

  .imgCilios{
    width: 400px;
  }