.imgMegaHair {
    width: 450px;
  
  }
  

  .conteudoServicos{

  }

  .itemServico{
    display: flex;
    margin-top: 30px;
  }

  .imgEscova{
    width: 470px;
    height: 330px;
  }

  .textosServicos{
  
  padding-right: 60px;
  padding-left: 40px;
  }

  .imgCilios{
    width: 400px;
  }